<div class="row form user_profile">
  <div class="col-lg-12">
    <div class="image" style="background-image: url(<%= rails_blob_path(@user.image) %>) "></div>
    <h2><%= @user.name %><span><%= @user.name_kana %></span></h2>
  </div>
</div>